.clear-margin {
    margin: 0;
  }
  .space-top {
    margin-top: 10px;
  }
  .space-right {
    margin-right: 10px;
  }
  .icon-left {
    margin-right: 5px;
  }
  .icon-right {
    margin-left: 5px;
  }
  .labels {
    word-spacing: 5px;
    line-height: 2;
  }
  .label-keyword {
    display: inline-block;
    background: #7eb0db;
    color: white;
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid #357ebd;
  }
  .link-disguise {
    color: inherit;
  }
  .link-disguise:hover {
    color: inherit;
  }
  @media (max-width: 992px) {
    .clear-margin-sm {
      margin-bottom: 0;
    }
  }
  body {
    font-family: 'Lato';
    background: #ffffff;
    color: #333333;
  }
  .main {
    padding: 5px;
  }
  .card {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    min-height: 300px;
    padding: 10px;
  }
  .card-nested {
    min-height: 0;
    margin-bottom: 10px;
    border-width: 1px 0 0 0;
  }
  .card-nested:before,
  .card-nested:after {
    content: " ";
    display: table;
  }
  .card-nested:after {
    clear: both;
  }
  @media (max-width: 480px) {
    .card-nested {
      padding: 5px 0;
    }
  }
  .background-card {
    padding: 10px 20px;
  }
  .card-wrapper {
    padding: 5px;
  }
  @media (max-width: 992px) {
    .card-wrapper {
      float: none !important;
    }
  }
  .text-bolder {
    font-weight: bold;
  }
  .background-details .detail {
    display: table;
    padding: 10px 0;
  }
  .background-details .detail .icon {
    min-width: 45px;
    max-width: 45px;
    text-align: center;
  }
  .background-details .detail .info {
    width: 100%;
  }
  .background-details .detail .title,
  .background-details .detail .icon {
    color: #707070;
  }
  .background-details .detail .mobile-title {
    display: none;
  }
  @media (max-width: 480px) {
    .background-details .detail .mobile-title {
      display: inline-block;
      margin-left: 5px;
      font-weight: bold;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
  .background-details .detail .icon,
  .background-details .detail .info {
    display: table-cell;
    padding: 0 10px;
  }
  @media (max-width: 480px) {
    .background-details .detail {
      display: block;
    }
    .background-details .detail .icon {
      max-width: inherit;
      min-width: inherit;
      text-align: left;
    }
    .background-details .detail .icon,
    .background-details .detail .info {
      display: block;
      padding: 10px 0;
    }
    .background-details .detail .title {
      display: none;
    }
  }
  .info .content.has-sidebar {
    width: 80%;
    box-sizing: border-box;
    float: left;
    padding: 0 10px;
    border-right: 1px solid #cdcdcd;
  }
  @media (max-width: 992px) {
    .info .content.has-sidebar {
      width: 100%;
      border-right: 0;
    }
  }
  @media (max-width: 480px) {
    .info .content.has-sidebar {
      padding: 0 2px;
    }
  }
  .info .sidebar {
    margin-left: 80%;
    box-sizing: border-box;
    padding: 10px;
  }
  @media (max-width: 480px) {
    ul {
      padding-left: 25px;
    }
  }
  /* Credits: http://codyhouse.co/demo/smart-fixed-navigation/index.html */
  .floating-nav-trigger {
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    transition: background-color 0.5s ease;
    display: block;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    font-size: 1.5em;
    color: #357ebd;
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .floating-nav-trigger .close-icon {
    display: none;
  }
  .floating-nav-trigger:hover {
    color: #1f496e;
    background-color: #e6e6e6;
    text-decoration: none;
  }
  .floating-nav-trigger.is-open {
    box-shadow: none;
  }
  .floating-nav-trigger.is-open .close-icon {
    display: inherit;
  }
  .floating-nav-trigger.is-open .fa-bars {
    display: none;
  }
  .floating-nav-trigger.is-open:hover {
    background-color: white;
  }
  .floating-nav {
    transform: scale(0);
    transform-origin: 100% 100%;
    transition: transform 0.3s, visibility 0s 0.3s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    position: fixed;
    z-index: 50;
    right: 10px;
    bottom: 10px;
    background-color: white;
    width: 90%;
    max-width: 400px;
    visibility: hidden;
    overflow: hidden;
  }
  .floating-nav ul {
    font-size: 1.2em;
    margin: 0;
  }
  .floating-nav ul li {
    border-bottom: 1px solid #eff2f6;
  }
  .floating-nav ul li a {
    padding: 20px;
    text-decoration: none;
    color: #357ebd;
    display: block;
  }
  .floating-nav ul li a:hover {
    color: #1f496e;
  }
  .floating-nav ul li i.fa {
    margin-right: 10px;
  }
  .floating-nav ul li:last-child {
    border-bottom: 0;
  }
  .floating-nav.is-visible {
    transform: scale(1);
    transition: transform 0.3s, visibility 0s 0s;
    visibility: visible;
  }
  
  /* Additional responsive and component styling follows ... */